@import '../../../styles/variables.scss';

.cookie__information {
  padding-top: 80px;

  @include media-breakpoint-down($mobile) {
    padding-top: 30px;
  }

  h2 {
    font-weight: bold;
    font-family: $fontStyle;
    font-size: $smallFont;
  }
  p {
    padding: 20px 0px 25px 0px;
    font-size: 14px;
    font-weight: 100;
  }
}
