@import '../../../styles/variables.scss';

.platforms {
  min-height: 80vh;
  margin: $containerMargin;
  padding: 80px 0px;
  @include media-breakpoint-down($tablet2) {
    margin: $containerMarginMedium;
    min-height: fit-content;
    padding: 2rem 0rem;
  }
  .platforms__heading {
    h1 {
      font-size: $extraLargeFont;
      text-align: center;
      padding: 2rem 0rem;
    }
  }
  .platforms__items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 80px;
    column-gap: 10px;
    padding: 2rem 0rem;
    align-items: center;
    justify-items: center;

    img {
      width: 90px;
      justify-content: center;
      align-content: center;
    }
  }
}
