@import '../../../styles/variables.scss';

.pricing__container {
  position: relative;
  overflow: hidden;
}
.pricing {
  margin: $containerMargin;
  z-index: 50;

  @include media-breakpoint-down($tablet2) {
    margin: $containerMarginMedium;
    padding-top: 50px;
  }
  @include media-breakpoint-down($mobile) {
    margin: $containerMarginSmall;
  }
  .pricing__heading {
    padding-bottom: 40px;
    font-family: $fontStyle;
    text-align: center;
    h1 {
      font-size: $extraLargeFont;
    }
    .pricing__heading-filter {
      z-index: 500;
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      border-bottom: 1px solid $color1;
      div {
        z-index: 500;
        color: #5a2fb3;
        font-weight: bold;
        @include media-breakpoint-down($mobile) {
          flex: 1;
          width: 100%;
        }
      }
      .active {
        button {
          color: white;
        }
        div {
          min-height: 2px;
          width: 100%;
          background: $linearGradient1;
          // padding-bottom: 2px;
          // font-family: $fontStyle;
          // color: white;
        }
      }

      button {
        font-size: $extraSmallFont;
        color: #5a2fb3;

        // background-color: $color4;
        padding: 10px 50px;
        @include media-breakpoint-down($mobile) {
          width: 100%;
        }
      }
    }
  }

  .pricing__cards {
    z-index: 500;
    @apply flex justify-center;
    @include media-breakpoint-down($tablet2) {
      flex-wrap: wrap;
      padding: 0px 50px;
    }
    @include media-breakpoint-down($mobile) {
      padding: 0px;
    }
  }
}

.circle__pricing-1 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: -350px;
  top: 50px;
  filter: blur(200px);
  transform: rotate(1.3deg);
  // z-index: 1;
  @include media-breakpoint-down($mobile) {
    left: -400px;
    filter: blur(150px);
  }
}
.circle__pricing-2 {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  right: -100px;
  top: -150px;
  filter: blur(100px);
  transform: rotate(1.3deg);
  // z-index: 1;
}

// .pricing__card {
//   .pricing__card-heading {
//     h1 {
//       font-size: $mediumFont;
//       padding: 2rem 0rem;
//     }
//     p {
//       font-size: $extraSmallFont;
//     }
//   }
// }

.pricing__card-outer {
  z-index: 500;
  clip-path: $clipPath3;
  background: $linearGradient2;
  position: relative;
  width: 180px;
  height: 550px;
  margin: 10px;
  @include media-breakpoint-down($tablet2) {
    width: 250px;
    height: 500px;
  }
  .pricing__card {
    @apply flex flex-col pb-5;
    position: absolute;
    clip-path: $clipPath3;
    // padding: 15px;
    background-color: #000136;
    width: 174px; /* container height - (border thickness * 2) */
    height: 544px;
    left: 3px;
    top: 3px;
    @include media-breakpoint-down($tablet2) {
      width: 244px;
      height: 494px;
    }
    .pricing__card-heading {
      position: relative;
      h1 {
        text-align: center;
        font-size: $smallFont;
        font-weight: 700;
        background: $linearGradient2;
      }
      p {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: $extraSmallFont;
        background-color: white;
        color: #cf46f1;
        font-weight: bold;
        font-size: $extraSmallFont;
      }
    }
    .pricing__card-list {
      @apply mt-5;
      flex-grow: 1;
      // height: 400px;
      overflow: hidden;
      font-style: 'Raleway';
      font-weight: 400;

      padding: 10px 8px 15px 25px;
      .not-available {
        color: #5a2fb3;
      }
      @include media-breakpoint-down($tablet2) {
        height: 300px;
      }
      ul {
        list-style-type: circle;
        li {
          font-size: $extraSmallFont;
          line-height: 15px;
          padding-top: 3px;
        }
      }
    }
    .pricing__cards-price {
      @apply mb-2;
      text-align: center;
      line-height: 16px;
      padding-top: 10px;
      p {
        @apply py-2;
        font-family: $fontStyle;
        font-weight: 400;
        font-size: 10px;
        color: #5a2fb3;
      }
      h2 {
        font-family: $fontStyle;
        font-weight: 700;
        font-size: 25px;
        color: #e98342;
        span {
          font-size: 8px;
        }
      }
    }
    .pricing__choose {
      text-align: center;
      //   padding: 18px 0px;

      button {
        width: 7rem;
        height: 2rem;
        font-size: $extraSmallFont;
      }
    }
  }
}
