@import '../../../styles/variables.scss';

.description__container {
  position: relative;
  overflow: hidden;
}
.description__outer {
  @apply my-24;

  min-height: 260px;
  background: $linearGradient1;
  z-index: 5;

  @include media-breakpoint-down($tablet2) {
    @apply my-16;
    min-height: 280px;
  }
  .description {
    @apply flex;
    margin: $containerMargin;

    @include media-breakpoint-down($tablet2) {
      margin: $containerMarginMedium;
    }

    @include media-breakpoint-down($mobile) {
      @apply justify-center;
      flex-wrap: wrap-reverse;
      text-align: center;
      margin: $containerMarginSmall;
    }
    .description__image {
      position: relative;
      min-width: 55%;
      overflow: visible;
      img {
        position: absolute;
        left: -60px;
        top: -100px;

        height: 425px;

        @include media-breakpoint-down($tablet2) {
          height: 360px;
          top: -70px;
          left: 0px;
        }
        @include media-breakpoint-down($mobile) {
          position: relative;
          top: 0px;
        }
      }
    }
    .description__text {
      @apply flex-col;
      h1 {
        font-size: $mediumFont;
        font-weight: 700;
        padding: 2rem 0rem;
      }
      p {
        font-size: 15px;
      }
      button {
        margin-top: 30px;
      }
    }
  }
}
.circle__desc {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  right: -150px;
  top: -50px;
  filter: blur(100px);
  transform: rotate(1.3deg);
  z-index: 1;
}
