@import './variables.scss';

.api-docs-content {
  height: 100vh;
  overflow-y: scroll;
  @include media-breakpoint-down($mobile) {
    flex-basis: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  padding: 20px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    line-height: 143%;
    margin-bottom: 1.5rem;
  }
}
