@import './variables.scss';

.cgd {
  position: relative;
  overflow: hidden;

  .cgd__container {
    @apply flex-col my-16;
    padding: $containerMargin;
    @include media-breakpoint-down($tablet2) {
      padding: $containerMarginMedium;
    }

    @include media-breakpoint-down($mobile) {
      padding: $containerMarginSmall;
    }
    .cgd__items {
      @apply mb-10;
      ul {
        margin-bottom: 3rem;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: circle;
        font-size: 15px;
      }
      .cgd__items-configure {
        text-align: center;
      }
    }
    .cgd__user-filter {
      @apply flex justify-between mb-10;
      .social__icons {
        padding-right: 10px;
        color: $color2;
      }
    }
    .cgd__users {
      display: grid;
      // padding: 30px 0px;
      grid-template-columns: auto auto auto;
      row-gap: 20px;
      column-gap: 20px;
    }
    .cgd__groups {
    }
    .cgd__pagination {
      @apply flex justify-center;
      span {
        padding: 5px;
        color: $color2;
      }
    }
  }
}

.user__card__outer {
  position: relative;
  height: 270px;
  width: 260px;
  background-color: $color2;
  clip-path: $clipPath2;
  // margin: 2rem 0px;
  .user__card {
    position: absolute;
    clip-path: $clipPath2;
    padding: 1.5rem 2.5rem;
    height: 264px;
    width: 254px;
    top: 3px;
    left: 3px;
    background-color: $color3;

    .user__card-subheading {
      font-size: 12px;
      padding-bottom: 15px;
    }
    .user__card-heading {
      font-size: $mediumFont;
      font-weight: bold;
      padding-bottom: 10px;
      .user__card-more {
        font-size: $extraSmallFont;
        text-decoration: underline;
        color: orange;
      }
    }
    .user__card-items {
      font-size: 13px;
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: circle;
        margin: 0rem 2rem;
      }
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}
