@import './variables.scss';

.company {
  position: relative;
  overflow: hidden;

  .company__container {
    @apply flex-col mt-16;
    padding: $containerMargin;

    .company__filter {
      @apply flex justify-between;
      p {
        font-weight: bold;
        .social__icons {
          padding-right: 10px;
          color: $color2;
        }
      }
    }
    .company__groups {
    }
    .company__pagination {
      @apply flex justify-center;
      span {
        padding: 5px;
        color: $color2;
      }
    }
  }
}

.company__card__outer {
  position: relative;
  height: 210px;
  width: 850px;
  background-color: $color2;
  clip-path: $clipPath6;
  margin: 2rem 0px;
  .company__card {
    position: absolute;
    clip-path: $clipPath6;
    padding: 1.5rem 2.5rem;
    height: 204px;
    width: 844px;
    top: 3px;
    left: 3px;
    background-color: $color3;

    .company__card-subheading {
      font-size: 12px;
      padding-bottom: 15px;
    }
    .company__card-heading {
      @apply flex justify-between;
      font-size: $mediumFont;
      font-weight: bold;
      padding-bottom: 10px;
      .company__card-more {
        font-size: $extraSmallFont;
        text-decoration: underline;
        color: orange;
      }
    }
    .company__card-items {
      font-size: 13px;
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: circle;
        margin: 0rem 2rem;
      }
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}
