@import './variables.scss';

.emails {
  position: relative;
  overflow: hidden;

  .emails__container {
    @apply flex-col mt-16;
    padding: $containerMargin;
    @include media-breakpoint-down($tablet2) {
      padding: $containerMarginMedium;
    }

    @include media-breakpoint-down($mobile) {
      padding: $containerMarginSmall;
    }

    .emails__filter {
      @apply flex justify-between;
      p {
        font-weight: bold;
        .social__icons {
          padding-right: 10px;
          color: $color2;
        }
      }
    }

    .emails__pagination {
      @apply flex justify-center;
      span {
        padding: 5px;
        color: $color2;
      }
    }
  }
}

.email__card__outer {
  background-color: $color2;
  clip-path: $clipPath6;
  padding: 3px;
  margin: 2rem 0px;
  .email__card {
    @apply flex gap-5;
    position: relative;
    clip-path: inherit;
    padding: 1.5rem 2rem;

    background-color: $color3;
    font-weight: 100;
    .select-emails {
      position: absolute;
      top: 26px;
      left: 10px;
      input {
        height: 20px;
        width: 20px;
        background-color: $color3;
      }
      input:checked {
        background-color: $color2;
      }
    }
    .email__card-image {
      @apply flex items-center;
      img {
        width: 250px;
      }
    }
    .email__card-info {
      flex: 1;
      .email__card-heading {
        @apply flex justify-between;
        font-size: 22px;
        position: relative;
      }
      .email__card-subheading {
        font-size: 12px;
        font-weight: 500;
      }
      .email__card-tags {
        @apply flex gap-3 my-5;
        color: $color2;
        font-size: 15px;
        font-weight: 500;
      }

      .email__card-actions {
        @apply flex justify-end;
      }
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}

.collapse-menu {
  position: absolute;
  right: 0px;
  top: 20px;
  box-shadow: 0px 0px 20px $color2, -0px -0px 20px $color2;
  p {
    cursor: pointer;
  }
  p:hover {
    background-color: $color1;
  }
}
