@import './variables.scss';

.faq-screen {
  position: relative;
  overflow: hidden;

  .faq-screen__filters {
    @apply flex mt-16;
    overflow-x: scroll;
    @include media-breakpoint-down($mobile) {
      @apply my-5;
    }
  }
  .faq-screen__container {
    @apply py-12;
    position: relative;
    margin: $containerMargin;
    z-index: 100;
    @include media-breakpoint-down($tablet2) {
      margin: $containerMarginMedium;
    }

    @include media-breakpoint-down($mobile) {
      margin: $containerMarginSmall;
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}
