@import './variables.scss';
@import './shared.scss';

.home__screen {
  // position: relative;
  overflow: hidden;
  background: url('../../public/Frame.png') no-repeat;
  background-position-x: 500px;
  background-size: 800px 800px;

  .home__screen-categories {
    @apply flex justify-center gap-2;
    margin: $containerMargin;
    padding: 50px 0px;
    min-height: 70vh;
    // flex-wrap: wrap;
    @include media-breakpoint-down($tablet2) {
      @apply gap-y-5 my-10;
      margin: $containerMarginMedium;
      padding: 80px 0px;
      min-height: fit-content;
      flex-wrap: wrap;
    }

    @include media-breakpoint-down($mobile) {
      @apply my-10;
      padding: $containerMarginSmall;
    }
  }
}

.circle__home-1 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: -350px;
  top: -150px;
  filter: blur(200px);
  transform: rotate(1.3deg);
  z-index: 1;

  @include media-breakpoint-down($tablet2) {
    top: 150px;
  }
}

.circle__home-2 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  right: -300px;
  top: -150px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 2;
  @include media-breakpoint-down($tablet2) {
    right: 350px;
    top: 800px;
    width: 400px;
    height: 400px;
  }
}
