@import url('../../node_modules/tailwindcss/base.css');
@import url('../../node_modules/tailwindcss/components.css');
@import url('../../node_modules/tailwindcss/utilities.css');
@import './variables.scss';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/mixins';
@import 'variables.scss';
@import 'bootstrap/scss/variables';
html,
body {
  margin: 0;
  padding: 0;
  background-color: #010239;
  color: white;
  overflow-x: hidden;

  font-family: 'Raleway';
}
#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
a {
  cursor: pointer;
}
.social__icons {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(177, 175, 175, 0.541);
  border-radius: 5px;
}
::-webkit-scrollbar-track:vertical {
  width: 5px;
}
::-webkit-scrollbar-track:horizontal {
  margin: $containerMargin;
}
@include media-breakpoint-down($tablet2) {
  ::-webkit-scrollbar-track:horizontal {
    margin: $containerMarginMedium;
  }
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: $linearGradient1;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:vertical {
  border: 1px solid rgb(168, 164, 164);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $linearGradient1;
}
