@import './variables.scss';

.payment-plan {
  position: relative;
  overflow: hidden;

  .payment-plan__container {
    position: relative;
    margin: $containerMargin;
    z-index: 100;
    @include media-breakpoint-down($tablet2) {
      margin: $containerMarginMedium;
    }

    @include media-breakpoint-down($mobile) {
      margin: $containerMarginSmall;
    }
    .payment-plan__heading {
      .payment-plan__heading-text {
        @apply my-20;
        font-family: $fontStyle;
        font-weight: 400;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
      }
    }
    .payment-plan__advantages {
      @apply flex;
    }
    .payment-plan__subheading {
      .payment-plan__subheading-text {
        @apply my-10;
        font-family: $fontStyle;
        font-weight: 400;
        font-size: 26px;
      }
    }
    .payment-plan__items {
      @apply px-5;
      ul {
        margin-bottom: 3rem;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: circle;
        font-size: 15px;
      }
    }
    .payment-plan__actions {
      @apply flex justify-between items-end mb-24 mt-10;
      .payment-plan__price {
        @apply flex items-end;
        .payment-plan__price-main {
          p {
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: #cf46f1;
          }
          h2 {
            font-family: $fontStyle;
            font-weight: 700;
            font-size: $largeFont;
            color: #e98342;
            span {
              font-size: $mediumFont;
              font-weight: 200;
            }
          }
        }
        .payment-plan__price-striked {
          @apply px-5;
          p {
            font-family: $fontStyle;
            font-weight: 300;
            font-size: $mediumFont;
            color: #5a2fb3;
          }
        }
      }
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}
