@import './variables.scss';

.profile {
  position: relative;
  overflow: hidden;

  .profile__container {
    @apply py-16;
    position: relative;
    margin: $containerMargin;
    @include media-breakpoint-down($tablet2) {
      margin: $containerMarginMedium;
    }

    .profile__form {
      @apply text-white;
      font-size: $extraSmallFont;
      .profile__form-inputs {
        gap: 3rem;
        @include media-breakpoint-down($tablet2) {
          flex-wrap: wrap;
          gap: 0rem;
        }

        .profile__form-heading__text {
          font-family: $fontStyle;
          font-weight: 400;
          font-size: $mediumFont;
        }

        h5 {
          @apply pb-2;
        }
        .profile__form-name,
        .profile__form-email,
        .profile__form-vat,
        .profile__form-birthday,
        .profile__form-company {
          flex: 1;
          padding: 10px 0px;
          @include media-breakpoint-down($tablet2) {
            flex-basis: 100%;
          }
        }

        .profile__form-gender {
          @apply flex-col;
          padding: 10px 0px;
          @include media-breakpoint-down($tablet2) {
            flex-basis: 100%;
          }
          flex: 1;
          span {
            font-size: 11px;
          }
        }
        .profile__form-birthday {
          flex: 1;
          padding: 10px 0px;
          @include media-breakpoint-down($tablet2) {
            flex-basis: 100%;
          }
        }
        .profile__form-password {
          flex: 1;
          @include media-breakpoint-down($tablet2) {
            flex-basis: 100%;
          }
          h1 {
            @apply pb-5;
            font-size: $mediumFont;
          }
          input {
            @apply mb-5;
          }
          button {
            font-size: $extraSmallFont;
          }
        }
        .profile__form-pricing__plan {
          flex: 1;
          @include media-breakpoint-down($tablet2) {
            flex-basis: 100%;
          }
          h1 {
            @apply pb-5;
            font-size: $mediumFont;
          }
          button {
            font-size: $extraSmallFont;
          }
        }
      }
    }
  }
}

.color__circles {
  position: absolute;
  background: $linearGradient2;
  border-radius: 50%;
}
.circle__18 {
  width: 230px;
  height: 230px;
  bottom: -70px;
  right: -70px;
  filter: blur(150px);
  transform: rotate(1.3deg);
  z-index: 1;
}
