@import './variables.scss';

h1 {
  font-family: $fontStyle;
}

// li::marker {
//   content: '';
//   font-size: 2rem;
//   width: 2px;
//   height: 2px;
//   padding: 2px;
//   color: $color2;
// }
// li {
//   list-style-type: square;
//   // margin: 0px 20px;
//   margin-left: 5em;
//   color: $color2;
// }
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  position: relative;
}

li::before {
  content: '\25AA';
  font-size: 1.5rem;
  color: $color2; /* or whatever color you prefer */
  position: absolute;
  left: -20px;
}
input[type='checkbox'] {
  accent-color: $color2;
}

input[type='checkbox']:checked {
}

.primary__button {
  background: $linearGradient3;
  width: 160px;
  height: 50px;
  color: white;
  font-family: $fontStyle;
  font-weight: 700;
  font-size: $smallFont;
  clip-path: $clipPath6;
}
.primary__button-disabled {
  width: 160px;
  height: 50px;
  color: white;
  font-family: $fontStyle;
  font-weight: 700;
  font-size: $smallFont;
  clip-path: $clipPath6;
}
.primary__button__small {
  background: $linearGradient3;
  width: 120px;
  height: 30px;
  color: white;
  font-family: $fontStyle;
  font-weight: 700;
  font-size: $smallFont;
  clip-path: $clipPath6s;
}

.secondary__button {
  background-color: $color1;
  width: 160px;
  height: 50px;
  color: white;
  font-family: $fontStyle;
  font-weight: 700;
  font-size: $smallFont;
  clip-path: $clipPath6;
}

.tertiary__button-outer {
  background: $linearGradient3;
  clip-path: $clipPath6;
  padding: 2px;
  .tertiary__button {
    clip-path: inherit;
    color: white;
    background: $color4;
    font-family: $fontStyle;
    font-weight: 700;
    font-size: $smallFont;
    width: 154px;
    height: 44px;
  }
}

.primary__input {
  @apply w-full px-3 py-2;
  background: #322875;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}

*::placeholder {
  color: white;
}
.primary__input:hover {
}
.primary__input:focus {
  outline: none;
  border: none;
  color: white;
}
