@import './variables.scss';

.signup__screen {
  min-height: 100vh;
  overflow: hidden;
}
.signup {
  padding: $containerMargin;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down($tablet2) {
    padding: $containerMarginMedium;
  }

  @include media-breakpoint-down($mobile) {
    padding: $containerMarginSmall;
  }
  .signup__container {
    @apply flex justify-center mt-16 mb-64;
    position: relative;
    z-index: 100;

    .signup__form {
      @apply p-10 text-white;
      width: 75%;
      border: 3px solid $gradient2;
      background: $gradient3;
      backdrop-filter: blur(100px);
      font-size: $extraSmallFont;
      div {
        padding-bottom: 15px;
      }
      .signup__form-heading__text {
        font-family: $fontStyle;
        font-weight: 400;
        font-size: $extraLargeFont;
        line-height: 60px;
        margin-bottom: 10px;
        text-align: center;
      }
      .signup__form-subheading {
        @apply py-2 text-center;
      }
      label {
        @apply py-1;
      }
      .signup__form-forgot__pwd {
        @apply text-orange-500 underline;
      }
      .signup__form-button {
        @apply flex justify-center pt-10;
      }
      button {
        font-size: 14px;
      }
    }
  }
}

.circle__signup-1 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  left: 20px;
  top: -51px;
  transform: rotate(1.3deg);
  z-index: -10;
}

.circle__signup-2 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  right: 40px;
  bottom: 30px;
  z-index: -1;
  transform: matrix(-1, 0.02, 0.02, 1, 0, 0);
}
.circle__signup-3 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  right: 55px;
  bottom: -80px;
  background: $linearGradient1;
  transform: rotate(1.3deg);
  z-index: -10;
}

.circle__signup-4 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: -350px;
  top: -150px;
  filter: blur(200px);
  transform: rotate(1.3deg);
  z-index: 1;
}

.circle__signup-5 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  right: -350px;
  bottom: -150px;
  filter: blur(200px);
  transform: rotate(1.3deg);
  z-index: 1;
}

.circle__signup-6 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 700px;
  left: 50px;
  background: $linearGradient2;
  transform: rotate(1.3deg);
  z-index: 1;
}
.circle__signup-7 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 230px;
  right: 50px;
  background: $linearGradient2;
  transform: rotate(1.3deg);
  z-index: 1;
}
.circle__signup-8 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 230px;
  right: 85px;
  background: linear-gradient(91.66deg, #cf46f1 -0.64%, #e98342 101.06%);
  transform: rotate(1.3deg);
  z-index: 2;
}
