@import '../variables.scss';

.company-group-config-modal {
  .modal-container {
    @apply flex justify-center;
    margin-top: 10rem;
    @include media-breakpoint-down($mobile) {
      margin-top: 5rem;
    }
  }
  .modal-content {
    @apply py-14;
    width: 90%;
  }

  .company-group-config-modal__heading {
    @apply flex justify-center py-2;
    font-size: 30px;
  }
  .company-group-config-modal__subheading {
    @apply flex justify-center text-center py-2;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Quantico';
  }
  .company-group-config__form-properties {
    @apply my-5;
    .company-group-config__form-property-item {
      input {
        @apply my-3 mr-2;
      }
      label {
        font-size: 15px;
        font-weight: 350;
      }
    }
  }
  .company-group-config-modal__actions {
    @apply flex justify-center pt-10 pb-2 gap-5;

    button {
      font-weight: 500;
    }
  }
}
