@import '../variables.scss';

.cookie-modal {
  .modal-container {
    @apply flex justify-center;
  }
  .modal-content {
    width: 90%;
  }

  .cookie-modal__image {
    @apply flex justify-center py-2;
  }
  .cookie-modal__heading {
    @apply flex justify-center py-2;
    font-size: 30px;
  }
  .cookie-modal__subheading {
    @apply flex justify-center text-center py-2;
    font-size: 14px;
    font-weight: 300;
  }
  .cookie-modal__actions {
    @apply flex justify-center pt-10 pb-2 gap-5;
    .tertiary__button {
      background-color: $color3;
    }
    button {
      font-weight: 500;
    }
  }
}
