@import '../variables.scss';

.invite-user-modal {
  .modal-container {
    @apply flex justify-center;
    margin-top: 5rem;
  }
  .modal-content {
    @apply py-20 px-5;
    width: 90%;
  }

  .invite-user-modal__heading {
    @apply flex justify-center mb-10;
    font-size: 30px;
  }

  .invite-user__form-roles {
    p {
      font-weight: 300;
    }
    @apply my-5;
    .invite-user__form-role {
      @apply flex items-center;
      input {
        @apply my-3 mr-2;
        background: rgba(90, 47, 179, 0.3);
      }
      input[type='checkbox']:checked {
        background: $color2;
      }
      label {
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  .invite-user__form-action {
    @apply flex justify-center pt-10 gap-5;
    flex-wrap: wrap-reverse;
    .tertiary__button {
      // background-color: $color3;

      background: #292368;
    }
    button {
      font-weight: 500;
    }
  }
}
