@import '../variables.scss';

.payment-fail-modal {
  .modal-container {
    @apply flex justify-center items-center;
  }
  .modal-content {
    width: 90%;
  }

  .payment-fail-modal__heading {
    @apply flex justify-center py-2;
    font-size: 30px;
  }
  .payment-fail-modal__subheading {
    @apply flex justify-center text-center py-2;
    font-size: 14px;
    font-weight: 300;
  }

  .payment-fail-modal__actions {
    @apply flex justify-center pt-10 pb-2 gap-5;
    flex-wrap: wrap-reverse;
    .tertiary__button {
      background-color: $color3;
    }
    button {
      font-weight: 500;
    }
  }
}
