@import '../../../styles/variables.scss';

.card__item {
  max-height: 200px;
  min-width: 250px;
  .card__icon {
    position: relative;
    // flex: 1;
    // flex-shrink: 1;
    .card__icon-image {
      position: absolute;
      top: -50px;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    img {
      // overflow: visible;
      width: 100px;
      z-index: 2;
    }
    .card__outer {
      clip-path: $clipPath8;
      background: $bgColor1;
      padding: 3px;
      // margin: 10px;
      @include media-breakpoint-down($tablet2) {
      }
      .card {
        text-align: center;
        clip-path: inherit;
        padding: 25px;
        background-color: $color3;

        @include media-breakpoint-down($tablet2) {
        }
        h1 {
          font-size: $mediumFont;
          font-weight: 700;
          padding: 2rem 0rem;
        }
        p {
          font-size: $extraSmallFont;
        }
      }
    }
  }
}
