@import '../../../styles/variables.scss';

.features {
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
  .features__heading {
    font-size: $extraLargeFont;
    // font-weight: 700;
    padding: 2rem 0rem;
    text-align: center;
  }
  .features__items {
    @apply flex pt-20 pb-10;
    display: flex;
    overflow-x: scroll;
  }
}

.circle__feat-1 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  bottom: -150px;
  left: -200px;
  background: #5a2fb2 !important;
  filter: blur(170px);
  transform: rotate(1.3deg);
  z-index: 1;
}

.circle__feat-2 {
  position: absolute;
  background: $linearGradient1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  right: 0px;
  top: 0px;
  filter: blur(10px);
  transform: rotate(1.3deg);
  z-index: 1;
}
